@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Vujahday+Script&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
/*---------------------
 Header section Styling
 -------------------- */
.navbar {
  font-family: "Poppins";
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 2% 10%;
  position: relative;
  color: #3a3a3a;
}
.navbar .logo {
  padding: 10px 2px;
}
.navbar ul {
  list-style: none;
  display: flex;
  position: relative;
  left: 110%;
}
.navbar ul li {
  padding: 10px 20px;
}
.navbar .shopping_cart {
  position: absolute;
  right: 0;
  font-size: 25px;
  color: #000000;
  padding: 10px 20px;
}

/*---------------------
 first section Styling
 -------------------- */

.first_section {
  margin: 10% 10%;
}
/*------- box1 Styling------- */
.box1 {
  display: flex;
  font-family: "Poppins", sans-serif;
}
/*----- container1 styling----- */
.container1 .heading {
  font-weight: bolder;
  font-size: 52px;
  color: #3a3a3a;
}
.container1 .msg1 {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}

/*------- background of camera------- */
.container2 {
  position: relative;
  margin-left: 10%;
}
.container2 .img1 {
  width: 475px;
  height: 475px;
  position: relative;
  top: 0;
  left: 0;
}
.container2 .img2 {
  position: absolute;
  width: 440px;
  height: 414px;
  left: -5px;
  top: 20px;
}
